div:hover {
  border: 2px solid black;
}

div:nth-of-type(1) {
  background-color:skyblue; 
}

div:nth-of-type(2) {
  background-color:lightgreen;
}

div:nth-of-type(3) {
  background-color: lightyellow;
  padding: 15px;
  padding-left: 0;
}

div:nth-of-type(4) {
  background-color: steelblue;
}

div:nth-of-type(5) {
  background-color: powderblue;
}

h3:only-child {
  font-family: monospace;
}

div:nth-of-type(odd) h3 {
  font-style: italic;
}