body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(163, 190, 140);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5% 5%;
}

.header-container,
.footer-container {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: rgb(236, 239, 244);
  background-color: rgb(59, 66, 82);
}

.header-container .page-title {
  margin: 0;
}

.footer-container a {
  font-weight: bold;
}

.section-title {
  font-size: 1.3em;
}

.preferences-container {
  text-align: center;
  padding: 10px;
  padding-left: 12px;
  color: rgb(59, 66, 82);
  background-color: rgb(216, 222, 233);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.preferences-container .section-title {
  margin: 0;
}

.preferences {
  list-style: none;
  padding: 0;
}

.preferences li {
  display: inline-block;
  color: rgb(59, 66, 82);
}

.preferences li:not(:last-child) {
  margin-right:15px;
}