body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: Merriweather, serif;
}

a {
  color: rgb(163, 190, 140);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5% 5%;
}

.header-container,
.footer-container {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: rgb(236, 239, 244);
  background-color: rgb(59, 66, 82);
}

.header-container .page-title {
  margin: 0;
}

.footer-container a {
  font-weight: bold;
}

.section-title {
  font-size: 1.3em;
}

.preferences-container {
  text-align: center;
  padding: 10px;
  padding-left: 12px;
  color: rgb(59, 66, 82);
  background-color: rgb(216, 222, 233);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 2px 6px 10px 1px hsl(0, 0%, 90%);
}

.preferences-container .section-title {
  margin: 0;
}

.preferences {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.preferences li {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: rgb(59, 66, 82);
  padding: 10px;
}

.preferences li label {
  margin-bottom: 5px;
}

.preferences li input {
  max-width: 50px;
  text-align: center;
  padding: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.reader {
  background-color: white;
  padding: 30px 35px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 2px 6px 10px 1px hsl(0, 0%, 90%);
}

.reader h3:first-child {
  margin-top: 0;
}