form fieldset {
  margin-bottom: 1rem;
}

form input , form select, form textarea {
  display: block;
}

form input , form select , form textarea {
  margin-bottom: 0.5rem;
}

form label {
  display: inline-block;
  margin-bottom: 0.2rem;
}

#address-type input , #address-type p {
  display: inline;
}

textarea {
  resize: none;
}

.required-marker {
  color: red;
}