html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 7.5vw;
  font-size: 1.1rem;
  font-family: Lora, serif;
  background: rgb(236,239,244);
  background: linear-gradient(180deg, rgba(236,239,244,1) 0%, rgba(255,255,255,1) 20%);
}

a {
  text-decoration: none;
  color: rgb(94, 129, 172);
}

h1 {
  font-size: 1.7em;
  text-align: center;
}

h2 {
  font-size: 1.45em;
}

h2 {
  font-size: 1.2em;
}

h1 , p:first-of-type {
  margin-top: 0;
}

header {
  margin-bottom: 3vw;
}

p:last-of-type {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.92em;
  font-weight: 700;
  padding: 0;
}

.top-menu a {
  opacity: 0.9;
}

.top-menu li:not( :last-child ) {
  margin-right: 1em;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 5vw;
  text-align: center;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  body {
    padding: 4vw;
  }

  .sidebar {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 901px) {
  body {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  header {
    flex-basis: 100%;
  }

  .sidebar {
    flex-basis: 30%;
    order: 2;
  }

  .main-content {
    flex-basis: 70%;
    order: 1;
    padding-right: 3vw;
  }

  footer {
    flex-basis: 100%;
    order: 4;
  }
}
