html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 6vw;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: rgb(94, 129, 172);
}

h1 {
  font-size: 1.7em;
  text-align: center;
}

h2 {
  font-size: 1.45em;
}

h2 {
  font-size: 1.2em;
}

h1 , p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.top-menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 0.92em;
  font-weight: 700;
  padding: 0;
}
