body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

header {
  background-color: lightcoral;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: lightblue;
}

nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li:not( :last-child ) {
  margin-right: 15px;
}

main {
  background-color: lightgray;
}

article {
  background-color: lightyellow
}

section {
  background-color: lightgreen;
}

table {
  background-color: wheat;
}

caption {
  caption-side: bottom;
}

.main-content {
  width: 54%;
  float: left;
  padding: 20px;
}

.sidebar {
  display: inline-block;
  width: 40%;
  padding: 20px;
  background-color: #6A5ACD;
}

.sidebar iframe {
  max-width: 100%;
}

footer {
  clear: both;
  background-color: lightcoral;
  width: 100%;
  text-align: center;
  padding: 10px;
}