* {
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  padding: 0 5vw;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

img {
    max-width: 100%;
}

figure {
  margin: 1em 0;
  display: inline-block;
}

.figures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 521px) {
  body {
    background-color: #ECEFF4;
    font-size: 1.2rem;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
  }

  figure {
    width: 50%;
  }

  figure:nth-child(odd) {
    padding-right: 1em;
  }

  figure:nth-child(even) {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-color: rgb(229, 233, 240);
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    max-width: 1024px;
  }
}