* {
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  padding: 0 5vw;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

img {
    max-width: 100%;
}

figure {
  margin: 1em 0;
  display: inline-block;
}

.figures-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 521px) {
  body {
    background-color: #ECEFF4;
    font-size: 1.2em;
  }

  figure {
    width: 50%;
  }

  figure:nth-child(odd) {
    padding-right: 1em;
  }

  figure:nth-child(even) {
    padding-left: 1em;
  }
}