body {
    font-size: 16px;
  }

  h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-align: center;
    text-decoration: underline; 
  }

  p {
    font-weight: 600;
    font-size: 3em;
    line-height: 1;
  }

  ul {
    background-color: wheat;
    font-style: italic;
  }

  .change-bg-color {
    background-color: lightgray;
  }

  li {
    background-color: black;
  }